/* Grid: 12 Column Grid System
 *
 * 3 Breakpoints
 *   - Mobile    : 4 Columns
 *   - Tablet    : 8 Columns
 *   - Desktop   : 12 Columns
 *
 */

//  Margins and Gutters
$smallMargin: 8px;
$mediumMargin: 16px;
$largeMargin: 24px;

$smallGutter: $smallMargin;
$mediumGutter: $mediumMargin;
$largeGutter: $largeMargin;

@mixin mobile-breakpoint {
  @for $i from 2 through 4 {
    .span#{$i} {
      grid-column: span $i;
    }
  }
}

@mixin tablet-breakpoint {
  @include mobile-breakpoint;
  @for $i from 5 through 8 {
    .span#{$i} {
      grid-column: span $i;
    }
  }
}

@mixin desktop-breakpoint {
  @include tablet-breakpoint;
  @for $i from 9 through 12 {
    .span#{$i} {
      grid-column: span $i;
    }
  }
}

.grid {
  display: grid;
}

/*
 *  Mobile Breakpoint
 *  4 Columns
 */
@include small-breakpoint {
  .grid {
    grid-template-columns: repeat(4, 1fr);
    gap: $smallGutter;
    grid-gap: $smallGutter;
    margin: 0 $smallMargin;
    @include mobile-breakpoint;
    .span-fourth {
      grid-column: span 1;
    }
    .span-half {
      grid-column: span 2;
    }
    .span-three-fourths {
      grid-column: span 3;
    }
    .span-all {
      grid-column: span 4;
    }
  }
}

/*
 *  Tablet Breakpoint
 *  8 Columns
 */
@include medium-breakpoint {
  .grid {
    grid-template-columns: repeat(8, 1fr);
    gap: $mediumGutter;
    grid-gap: $mediumGutter;
    margin: 0 $mediumMargin;
    @include tablet-breakpoint;
    .span-fourth {
      grid-column: span 2;
    }
    .span-half {
      grid-column: span 4;
    }
    .span-three-fourths {
      grid-column: span 6;
    }
    .span-all {
      grid-column: span 8;
    }
  }
}

/* 
 *  Desktop Breakpoint
 *  12 Columns
 */
@include large-breakpoint {
  .grid {
    grid-template-columns: repeat(12, 1fr);
    gap: $largeGutter;
    grid-gap: $largeGutter;
    margin: 0 $largeMargin;
    @include desktop-breakpoint;
    .span-fourth {
      grid-column: span 3;
    }
    .span-half {
      grid-column: span 6;
    }
    .span-three-fourths {
      grid-column: span 9;
    }
    .span-all {
      grid-column: span 12;
    }
  }
}
