/* Grid: 12 Column Grid System
 *
 *  3 Breakpoints
 *    - Mobile    : 4 Columns   // 0px - 600px
 *    - Tablet    : 8 Columns   // 600px - 840px
 *    - Desktop   : 12 Columns  // > 840px
 *
 */

//  Margins and Gutters
$smallMargin: 8px;
$mediumMargin: 16px;
$largeMargin: 24px;

$smallGutter: $smallMargin;
$mediumGutter: $mediumMargin;
$largeGutter: $largeMargin;

.grid {
  display: grid;
}

/*
 *  Mobile Breakpoint
 *  4 Columns
 */
@include small-breakpoint {
}

/*
 *  Tablet Breakpoint
 *  8 Columns
 */
@include medium-breakpoint {
}

/* 
 *  Desktop Breakpoint
 *  12 Columns
 */
@include large-breakpoint {
}
