/* Staging : Prepare the components*/

//==============================================================================
// Basic HTML
//==============================================================================
* {
    box-sizing: border-box;
}

html {
    display: block;
}

body, html {
    height: 100%;
    margin: 0;
}

body {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;

    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: normal;

    background-color: $backgroundColor;
    color: $onBackgroundColor;
}

// Headings
h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

h1, h2 {
    font-weight: lighter;
}

h3, h4, h5 {
    font-weight: normal;
}

h6 {
    font-weight: 500;
}

h1 {
    font-size: 96;
    letter-spacing: -1.5px;
}

h2 {
    font-size: 60;
    letter-spacing: -0.5px;
}

h3 {
    font-size: 48;
    letter-spacing: 0px;
}

h4 {
    font-size: 34;
    letter-spacing: 0.25px;
}

h5 {
    font-size: 24;
    letter-spacing: 0px;
}

h6 {
    font-size: 20;
    letter-spacing: 0.15px;
}

//==============================================================================
// Formatting
//==============================================================================

blockquote {
    padding: 0 $mediumPadding;
    border-left: $xSmallPadding solid $secondaryColor;
    
    cite {
        display: block;
        text-align: right;
    }
}

mark {
    background: $secondaryColor;
    padding: 0 $xSmallPadding;
}

pre {
    display: block;
    font-family: monospace;
    margin: $mediumMargin 0;
}